/*para zerar as margens e não atrapalhar no css da pag*/
* {
    margin: 0;
    padding: 0;
}

/* pagina principal */
body {
    background-image: url(../../images/back1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* essa daqui é a logo da pagina principal */
#logo {
    position: relative;
    width: 50%;
    max-width: 500px;
    margin: 20px 0;
    padding: 0;
    top: -130px;
}

/* essa aqui é a header da pagina principal */
header {
    background-color: rgba(44, 144, 166, 0.5);
    padding: 80px 20px;
    height: 100px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    transition: height 0.3s;
}

main {
    display: flex;
    justify-content: center;
    text-align: center;
}
main h1{
    /* ele transforma a primeira letra em letra grande, e muda o estilo */
    text-transform: capitalize;
}

/* esse é o footer da pagina principal */
footer {
    background-color: rgba(44, 144, 166, 0.5);
    color: #e4a77d;
    font-size: larger;
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 10;
}

#descicaoT {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

/* div com o outro uso do header */
.content {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

}

/*css para link de acesso ao ícone animado*/
.icon {
    cursor: pointer;
    position: relative;
    display: inline-flex;
    width: 400px;
    height: 110px;
    float: right;
    border-radius: 30px;
    overflow: hidden;
}

/* só lembrando que é a animação para ativar ao passar mouse*/
.icon::before,
.icon::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 0.25s ease;
    border-radius: 30px;
}

/* faz o timer abrir e fechar */
.icon-fill::before {
    transition-duration: 0.5s;
    box-shadow: inset 0 0 0 1px #16a085;
}

/* faz o timer abrir e fechar */
.icon-fill:hover::before {
    box-shadow: inset 0 0 0 60px #16a085;
}

/* texto do ícone animado */
.text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    pointer-events: none;
    font-family: "Cinzel Decorative", serif;
}

/* caixa de texto e mockup alinhados */
#home {
    position: relative;
    display: flex;
    align-items: center;
    width: 80%;
    margin: 50px;
    padding: 30px;
}

/* imagem do mockup */
#home img {
    max-width: 120%;
    height: auto;
    margin-left: 20px;
}

/* texto maior Caverna Nerd */
#home h1 {
    color: #232b3b;
    font-size: 36px;
    text-shadow: 2px 2px 8px #2c90a6;
    font-family: "Cinzel Decorative", serif;
}

/* letra A sendo primeira letra a ser mudada */
#home h1::first-letter {
    font-size: 100px;
    font-family: "Dancing Script", cursive;
    color: #232b3b;
}

/* pagina principal descrição dentro da caixa*/
#home p {
    color: #232b3b;
    font-size: 10px;
    line-height: 1.5;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
}

/* * Media Queries para Responsividade */

@media screen and (max-width:900px) {
    
    #logo {
        float: left;
        margin-top: 100px;
        width: 200px;
    }

    header {
        padding: 40px 20px;
        flex-direction: column;
        align-items: center;
    }

    .icon {
        width: 200px;
        height: 50px;
        padding: 20px 20px 20px 20px;
        text-align: center;
        align-items: center;

    }

    #home img {
        max-width: 100%;
        height: auto;
        margin-left: 0;
        margin-top: 20px;
    }

    #home {
        flex-direction: column;
        margin: 20px;
        padding: 10px;
    }

    .text {
        position: relative;
        font-size: 15px;
        width: max-content;
        margin: 10px;
    }

}